label: List input
description: The inputs required to create a new todo list
fields:
  title:
    type: utf8
    label: Title
    description: The title of the todo list
    nullable: false
  description:
    type: utf8
    label: Description
    description: A description of the todo list
    nullable: true